ID: <%=@agreement.id%> <br/>
Description: <%=@agreement.description%> <br/>

<h2>Payer </h2>
Email: <%=@agreement.payer.payer_info.email%><br/>
First Name: <%=@agreement.payer.payer_info.first_name%><br/>
Last Name: <%=@agreement.payer.payer_info.last_name%>

<h2>Plan </h2>
Frequency: <%=@agreement.plan.payment_definitions.first.frequency%><br/>
Amount: <%=@agreement.plan.payment_definitions.first.amount.value%>

